{% extends 'base.html' %}
{% load widget_tweaks %}
{% block login_active %}active{% endblock %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container-fluid">

    <div class="card" style="width: 18rem;">
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
				{{ form.management_form }}
				{% for hidden_field in form.hidden_fields %}
					{{ hidden_field }}
				{% endfor %}
				<div class="form-group">
					{% for field in form.visible_fields %}
						{{ field.label_tag }}
						{% render_field field class="form-control" %}
					{% endfor %}
				</div>
				<button type="submit">Login</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}