{% extends 'base.html' %}
{% load widget_tweaks %}
{% load humanize %}
{% block registrations_active %}active{% endblock %}
{% block title %}{{ mode }} Camp{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="{% url 'registration:list-camps' %}">Camps</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ mode }} registration</li>
	</ol>
</nav>
<div class="container-fluid">

	<div class="row">

		<div class="col-sm-12 col-md-8">
			<div class="card">
				<div class="card-body">
					<h3>{{ mode }} Registration</h3>
					<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form.management_form }}
						{% for hidden_field in form.hidden_fields %}
						{{ hidden_field }}
						{% endfor %}

						{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							{% for error in form.non_field_errors %}
							{{ error }}
							{% endfor %}
						</div>
						{% endif %}

						{% for field in form.visible_fields %}
						<div class="form-group">
							{{ field.label_tag }}
							{% if form.is_bound %}
								{% if field.errors %}
									{% render_field field class="form-control is-invalid" %}
									{% for error in field.errors %}
										<div class="invalid-feedback">
											{{ error }}
										</div>
									{% endfor %}
								{% else %}
									{% render_field field class="form-control is-valid" %}
								{% endif %}
							{% else %}
								{% render_field field class="form-control" %}
							{% endif %}

							{% if field.help_text %}
								<small class="form-text text-muted">{{ field.help_text }}</small>
							{% endif %}
						</div>
						{% endfor %}
						{% for form in formset %}
							{{ formset.management_form }}
							{% for hidden_field in form.hidden_fields %}
								{{ hidden_field }}
							{% endfor %}
						<div class="card">
							<div class="card-body">
								<h4>{{ form.instance.fee.name }}</h4>
								<h5>Price: {{ form.instance.fee.price|floatformat:2 }}&euro;</h5>
								<div class="form-group">
									<div class="row">
										{% for field in form.visible_fields %}
											<div class="col">
												{{ field.label_tag }}
												{% if form.is_bound %}
													{% if field.errors %}
														{% render_field field class="form-control is-invalid" %}
														{% for error in field.errors %}
															<div class="invalid-feedback">
																{{ error }}
															</div>
														{% endfor %}
													{% else %}
														{% render_field field class="form-control is-valid" %}
													{% endif %}
												{% else %}
													{% render_field field class="form-control" %}
												{% endif %}
													{% if field.help_text %}
														<small class="form-text text-muted">{{ field.help_text }}</small>
													{% endif %}
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						<div class="form-group">
							<div class="col-sm-offset-1 col-sm-10">
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}