{% extends 'base.html' %}
{% load i18n %}
{% block base_active %}active{% endblock %}
{% block title %}{% trans "Diocese" %} {{ object.name }}{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'base:list-dioceses' %}">{% trans "Diocese" %}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
	</ol>
</nav>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h3>{% trans "Diocese" %} {{ object.name }}</h3>
        </div>
        <a href="{% url 'base:add-district' object.pk %}" class="btn btn-default btn-sm btn-favorite" role="button">
			{% trans "Add District" %}<span class="fas fa-plus"></span>
		</a>
        {% if object.district_set.all %}
		        <table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">{% trans "District" %}</th>
							<th scope="col">{% trans "View" %}</th>
							<th scope="col">{% trans "Edit" %}</th>
							<th scope="col">{% trans "Delete" %}</th>
						</tr>
					</thead>
					<tbody>
            		{% for district in object.district_set.all %}
						<tr>
							<th scope="row">{{ district.name }}</th>
							<td><a href="{% url 'base:view-district' district.pk %}" class="btn btn-primary btn-sm" role="button">{% trans "View" %}</a></td>
							<td><a href="{% url 'base:edit-district' district.pk %}" class="btn btn-primary btn-sm" role="button">{% trans "Edit" %}</a></td>
							<td><a href="{% url 'base:delete-district' district.pk %}" class="btn btn-default btn-sm" role="button">
                                    <span class="fas fa-trash"></span>
							</a></td>
						</tr>
            		{% endfor %}
				</tbody>
			</table>
        {% endif %}
    </div>
</div>
{% endblock %}