{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block login_active %}active{% endblock %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block header %}{% trans "Login" %}{% endblock %}
{% block body %}
	{% if user.is_authenticated %}
		<h3>{% trans "You are already logged in!" %}</h3>
	{% else %}
		{% bootstrap_form_errors form %}
		<form method="post" class="form">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
				<button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
			{% endbuttons %}
		</form>
	{% endif %}
{% endblock %}
