{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block login_active %}active{% endblock %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block header %}{% trans "Reset password" %}{% endblock %}
{% block body %}
{% bootstrap_form_errors form %}
<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    {% endbuttons %}
</form>
{% endblock %}