{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block login_active %}active{% endblock %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block header %}{% trans "Password reset" %}{% endblock %}
{% block body %}
	{% if validlink %}
		<form method="post">
			{% csrf_token %}
			{{ form.management_form }}
			{% for hidden_field in form.hidden_fields %}
				{{ hidden_field }}
			{% endfor %}
			<div class="form-group">
				{% for field in form.visible_fields %}
					{{ field.label_tag }}
					{% render_field field class="form-control" %}
				{% endfor %}
			</div>
			<button type="submit" class="btn btn-success">{% trans "Change password" %}</button>
		</form>
	{% else %}
		<p>
			{% trans "The password reset link was invalid, possibly because it has already been used.
      			Please request a new password reset." %}
		</p>
	{% endif %}
{% endblock %}