{% extends 'base.html' %}
{% load i18n %}
{% block base_active %}active{% endblock %}
{% load bootstrap4 %}

{% block title %}{% blocktrans %}{{ mode }} User{% endblocktrans %}{% endblock %}
{% block header %}{% blocktrans %}{{ mode }} User{% endblocktrans %}{% endblock %}

{% block body %}
{% bootstrap_form_errors form %}
<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    {% endbuttons %}
</form>
{% endblock %}
