{% extends 'base.html' %}
{% load i18n %}
{% block base_active %}active{% endblock %}
{% block title %}{% trans "Workshops for" %} {{camp}}{% endblock %}
{% block header %}{% trans "Workshops for" %} {{camp}}{% endblock %}
{% block actions %}
	<a href="{% url 'annotate-workshop' camp.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
		{% trans "Annotate workshops" %}<span class="fas fa-calculator"></span>
	</a>
	<a href="{% url 'print-workshop' camp.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
		{% trans "Create new print batch" %}<span class="fas fa-print"></span>
	</a>
{% endblock %}
{% block body %}
{% if object_list %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">{% trans "Clan" %}</th>
				<th scope="col">{% trans "Name" %}</th>
				<th scope="col">{% trans "Description" %}</th>
				<th scope="col">{% trans "Status" %}</th>
				<th scope="col">{% trans "Number" %}</th>
				<th scope="col">{% trans "Printed" %}</th>
				<th scope="col">{% trans "Edit" %}</th>
				<th scope="col">{% trans "Delete" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for workshop in object_list %}
				<tr>
					<th scope="row">{{ workshop.registration.clan }}</th>
					<td>{{ workshop.name }}</td>
					<td>{{ workshop.description }}</td>
					<td>{{ workshop.get_status_display }}</td>
					<td>{% if workshop.annotated_id %}{{ workshop.annotated_id }}{% else %}{% trans "Not yet annotated" %}{% endif %}</td>
					<td>{% if workshop.printed %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
					<td><a href="{% url 'update-workshop' camp.pk workshop.registration.pk workshop.pk %}" class="btn btn-primary btn-sm" role="button">{% trans "Edit" %}</a></td>
					<td><a href="{% url 'delete-workshop' camp.pk workshop.registration.pk workshop.pk %}" class="btn btn-default btn-sm" role="button">
						<span class="fas fa-trash"></span>
						</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}
