{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block base_active %}active{% endblock %}
{% block title %}{% blocktrans %}Add workshop for {{ clan }} for {{ camp }}{% endblocktrans %}{% endblock %}
{% block header %}{% blocktrans %}Add workshop for {{ clan }} for {{ camp }}{% endblocktrans %}{% endblock %}
{% block actions %}
{% endblock %}
{% block body %}
<h2>{% trans "Add workshop" %}</h2>
{% bootstrap_form_errors form %}
<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    {% endbuttons %}
</form>
{% endblock %}
