{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block base_active %}active{% endblock %}
{% block title %}{% trans "Generate print batch for" %} {{camp}}{% endblock %}
{% block header %}{% trans "Generate print batch for" %} {{camp}}{% endblock %}
{% block body %}
<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Go" %}</button>
    {% endbuttons %}
</form>
{% endblock %}
