<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>QCOS - {% block title %}{% endblock %}</title>
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'camps/style.css' %}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	{% load static %}
	<script  type="text/javascript" src="{% static "jquery.formset.js" %}"></script>
	{% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<!-- Header -->
		<div class="navbar-header">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button
		</div>

		<!-- Items -->
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" href="{% url 'camps:list-camps' %}">QCOS</a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item {% block camps_active %}{% endblock %}">
					<a class="nav-link" href="{% url 'camps:list-camps' %}">Camps</a>
				</li>
				<li class="nav-item {% block base_active %}{% endblock %}">
					<a class="nav-link" href="{% url 'list-dioceses' %}">Base</a>
				</li>
				<li class="nav-item {% block registrations_active %}{% endblock %}">
					<a class="nav-link" href="{% url 'registration:list-registrations' %}">Registrations</a>
				</li>
			</ul>
		</div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>