{% extends 'base.html' %}
{% block body %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		{%block breadcrum%}{% endblock %}
	</ol>
</nav>
<div class="container-fluid">

	<div class="row">

		<div class="col-sm-12 col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Confirm</h3>
					<form method="post">{% csrf_token %}
						<p>Are you sure you want to delete {%block type%}{% endblock %} "{{ object }}"?</p>
						<input class="btn btn-danger" type="submit" value="Delete"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}