{% extends 'base.html' %}
{% load widget_tweaks %}
{% load humanize %}
{% block camp_registration_active %}active{% endblock %}
{% block title %}{{ mode }} Camp{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="{% url 'camp_registration:list-camps' %}">Camps</a></li>
		<li class="breadcrumb-item" aria-current="page">
			<a href="{% url 'camp_registration:manage-registrations' registration.camp.pk %}">
				{{ registration.camp.name }}
			</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">Finalize registration from {{ registration.clan.name }}</li>
	</ol>
</nav>
<div class="container-fluid">

	<div class="row">

		<div class="col-sm-12 col-md-8">
			<div class="card">
				<div class="card-body">
					<h3>Registration details</h3>
					<table class="table">
						<tbody>
							<tr>
								<th scope="row">Diocese:</th>
								<td>{{ registration.clan.district.diocese.name }}</td>
							</tr>
							<tr>
								<th scope="row">District:</th>
								<td>{{ registration.clan.district.name }}</td>
							</tr>
							<tr>
								<th scope="row">Clan:</th>
								<td>{{ registration.clan.name }}</td>
							</tr>
							<tr>
								<th scope="row">Contact name</th>
								<td>{{ registration.contact_name }}</td>
							</tr>
							<tr>
								<th scope="row">Email</th>
								<td>{{ registration.email }}</td>
							</tr>
							<tr>
								<th scope="row">Telephone</th>
								<td>{{ registration.telephone }}</td>
							</tr>
							<tr>
								<th scope="row">Comment</th>
								<td>{{ registration.telephone }}</td>
							</tr>
							{% for info in registration.ticketinfo_set.all %}
								<tr>
									<th scope="row">{{ info.fee.name }} ({{ info.fee.price|floatformat:2 }}€)</th>
									<td>{{ info.quantity }} ({{ info.ticket_set.all|length }} generated)</td>
								</tr>
							{% endfor %}
							<tr>
								<th scope="row">Sum</th>
								<td>{{ registration.get_quantity }}</td>
							</tr>
							<tr>
								<th scope="row">Price</th>
								<td>{{ registration.get_price|floatformat:2 }}€</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h3>Finalize Registration</h3>
					<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form.management_form }}
						{% for hidden_field in form.hidden_fields %}
							{{ hidden_field }}
						{% endfor %}

						{% if form.errors %}
						<div class="alert alert-danger" role="alert">
							{% for error in form.errors %}
								{{ error }}
							{% endfor %}
						</div>
						{% endif %}

						{% for field in form.visible_fields %}
						<div class="form-group">
							{{ field.label_tag }}
																{% for error in field.errors %}
										<div class="invalid-feedback">
											{{ error }}
										</div>
									{% endfor %}
							{% if form.is_bound %}
								{% if field.errors %}
									{% render_field field class="form-control is-invalid" %}

								{% else %}
									{% render_field field class="form-control is-valid" %}
								{% endif %}
							{% else %}
								{% render_field field class="form-control" %}
							{% endif %}

							{% if field.help_text %}
								<small class="form-text text-muted">{{ field.help_text }}</small>
							{% endif %}
						</div>
						{% endfor %}
						<div class="form-group">
							<div class="col-sm-offset-1 col-sm-10">
								<button type="submit" class="btn btn-success">Finish</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}