{% extends 'base.html' %}
{% load i18n %}
{% block camp_registration_active %}active{% endblock %}
{% block title %}{% trans "Registrations" %}{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" aria-current="page">{% trans "Camps" %}</li>
	</ol>
</nav>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h3>Camps</h3>
        </div>
        <a href="{% url 'camps:add-camp' %}" class="btn btn-default btn-sm btn-favorite" role="button">
			{% trans "Add Camp" %}<span class="fas fa-plus"></span>
		</a>
        {% if object_list %}
		        <table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">{% trans "Camp" %}</th>
							<th scope="col">{% trans "Startdate" %}</th>
							<th scope="col">{% trans "Enddate" %}</th>
							<th scope="col">{% trans "Manage registrations" %}</th>
						</tr>
					</thead>
					<tbody>
            		{% for camp in object_list %}
						<tr>
							<th scope="row">{{ camp.name }}</th>
							<td>{{ camp.startdate }}</td>
							<td>{{ camp.enddate }}</td>
							<td><a href="{% url 'camp_registration:manage-registrations' camp.pk %}" class="btn btn-primary btn-sm" role="button">{% trans "Manage registrations" %}</a></td>
						</tr>
            		{% endfor %}
				</tbody>
			</table>
        {% endif %}
    </div>
</div>
{% endblock %}