{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load humanize %}
{% block camp_registration_active %}active{% endblock %}
{% block title %}{% blocktrans %}{{ mode }} Camp{% endblocktrans %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="{% url 'camp_registration:list-camps' %}">{% trans "Camps" %}</a></li>
		<li class="breadcrumb-item" aria-current="page">
			<a href="{% url 'camp_registration:manage-registrations' registration.camp.pk %}">
				{{ registration.camp.name }}
			</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{% blocktrans %}Process registration from {{ registration.clan.name }}{% endblocktrans %}</li>
	</ol>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<div class="card">
				<div class="card-body">
					<h3>{% trans "Process Registration" %}</h3>
					<table class="table">
						<tbody>
							<tr>
								<th scope="row">{% trans "Diocese" %}</th>
								<td>{{ registration.clan.district.diocese.name }}</td>
							</tr>
							<tr>
								<th scope="row">{% trans "District" %}</th>
								<td>{{ registration.clan.district.name }}</td>
							</tr>
							<tr>
								<th scope="row">{% trans "Clan" %}</th>
								<td>{{ registration.clan.name }}</td>
							</tr>
							<tr>
								<th scope="row">{% trans "Contact name" %}</th>
								<td>{{ registration.contact_name }}</td>
							</tr>
							<tr>
								<th scope="row">{% trans "Email" %}</th>
								<td>{{ registration.email }}</td>
							</tr>
							<tr>
								<th scope="row">{% trans "Telephone" %}</th>
								<td>{{ registration.telephone }}</td>
							</tr>
							<tr>
								<th scope="row">{% trans "Comment" %}</th>
								<td>{{ registration.telephone }}</td>
							</tr>
							{% for info in registration.ticketinfo_set.all %}
								<tr>
									<th scope="row">{{ info.fee.name }} ({{ info.fee.price|floatformat:2 }}€)</th>
									<td>{{ info.quantity }} ({{ info.ticket_set.all|length }} generated)</td>
								</tr>
							{% endfor %}
							<tr>
								<th scope="row">{% trans "Sum" %}</th>
								<td>{{ registration.get_quantity }}</td>
							</tr>
							<tr>
								<th scope="row">{% trans "Price" %}</th>
								<td>{{ registration.get_price|floatformat:2 }}€</td>
							</tr>
						</tbody>
					</table>
					<a href="{% url 'camp_registration:finalize-registration' registration.pk %}" class="btn btn-success btn-sm" role="button">{% trans "Generate tickets" %}</a>
					<td><a href="{% url 'camp_registration:edit-registration' registration.pk %}" class="btn btn-primary btn-sm" role="button">{% trans "Edit" %}</a></td>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}