{% extends 'base.html' %}
{% block camps_active %}active{% endblock %}
{% block title %}Camps{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" aria-current="page">Camps</li>
	</ol>
</nav>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h3>Camps</h3>
        </div>
        <a href="{% url 'add-camp' %}" class="btn btn-default btn-sm btn-favorite" role="button">
			Add Camp <span class="fas fa-plus"></span>
		</a>
        {% if object_list %}
            {% for camp in object_list %}
                <div class="col-sm-12 col-lg-12">
                        <div class="caption">
                            <h2>{{ camp.name }}</h2>
                            <h4>{{ camp.description }}</h4>
                            <h5>{{ camp.startdate }} - {{ camp.enddate }}</h5>
                            <!-- Edit -->
                            <a href="{% url 'edit-camp' camp.pk %}" class="btn btn-primary btn-sm" role="button">Edit</a>

                            <!-- Delete camp -->
							<a href="{% url 'delete-camp' camp.pk %}" class="btn btn-default btn-sm" role="button">
                                    <span class="fas fa-trash"></span>
							</a>
                        </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}